# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\OneDrive - Technion\University\1st Year\2nd Semeter\094219 Software Engineering\094219-Software-Engineering\HW2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
